<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastroPessoa</servlet-name>
        <servlet-class>br.edu.ifpb.pod.servlets.CadastroPessoa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaPessoas</servlet-name>
        <servlet-class>br.edu.ifpb.pod.servlets.ListaPessoas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvarPessoa</servlet-name>
        <servlet-class>br.edu.ifpb.pod.servlets.SalvarPessoa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>br.edu.ifpb.pod.servlets.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPessoa</servlet-name>
        <servlet-class>br.edu.ifpb.pod.servlets.ExcluirPessoa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraPessoa</servlet-name>
        <servlet-class>br.edu.ifpb.pod.servlets.AlteraPessoa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>br.edu.ifpb.pod.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sair</servlet-name>
        <servlet-class>br.edu.ifpb.pod.servlets.Sair</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroPessoa</servlet-name>
        <url-pattern>/paginas/CadastroPessoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaPessoas</servlet-name>
        <url-pattern>/paginas/ListaPessoas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarPessoa</servlet-name>
        <url-pattern>/paginas/SalvarPessoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/paginas/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPessoa</servlet-name>
        <url-pattern>/paginas/ExcluirPessoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraPessoa</servlet-name>
        <url-pattern>/paginas/AlteraPessoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sair</servlet-name>
        <url-pattern>/paginas/Sair</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
